/gfaisoft/java/oda/target/
/gfaisoft/java/cafm/target/
/gfaisoft/java/dxf/target/
/gfaisoft/java/ifca/target/
/gfaisoft/java/sensors/target/
/gfaisoft/java/ingco/target/
/gfaisoft/java/jasper/target/
/ifcamdl/db/java/infocable/target/
/gfaisoft/java/infocable/target/
/gfaisoft/java/multilingualism/target/
/gfaisoft/java/infocable/src/main/resources/dbalias.properties
**/nbactions.xml
**/dbalias.properties
**/hs_err_pid*
**/*cmd.h
**/*cmd.rsc
/gfaisoft/java/crystalreports/target/
/gfaisoft/tomcat/Crystal/nbproject/private/
/gfaisoft/tomcat/Crystal/build/
/gfaisoft/tomcat/Crystal/dist/
/gfaisoft/java/jme3/target/
/gfaisoft/java/hzb/target/
/ifcamdl/db/java/javainst/mvn/
/gfaisoft/java/j3d/target/
/gfaisoft/java/ifca/nbproject/
/gfaisoft/java/infocable/target8000_Beta/
/gfaisoft/java/cafm/output_image14_44_34.svg
/gfaisoft/java/mobile-data/mobile-data-html/target/classes/*.netbeans_automatic_build
/gfaisoft/java/mobile-data/mobile-data-html/target/classes/de/gfai/mobile/data/html/*.class
/gfaisoft/java/mobile-data/mobile-data-html/target/maven-archiver/*.properties
/gfaisoft/java/mobile-data/mobile-data-html/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/gfaisoft/java/mobile-data/mobile-data-html/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/*.lst
/gfaisoft/java/mobile-data/mobile-data-html/target/*.jar
/gfaisoft/java/mobile-data/mobile-data-html/target/test-classes/*.netbeans_automatic_build
/gfaisoft/java/mobile-data/mobile-data-svg/target/classes/*.netbeans_automatic_build
/gfaisoft/java/mobile-data/mobile-data-svg/target/test-classes/*.netbeans_automatic_build
/gfaisoft/java/mobile-data/mobile-data-qrc/target/
/gfaisoft/java/mobile-data/mobile-data-svg/target/classes/de/gfai/mobile/data/infocable/*.class
/gfaisoft/java/mobile-data/mobile-data-svg/target/classes/de/gfai/mobile/data/svg/*.class
/gfaisoft/java/mobile-data/mobile-data-svg/target/classes/de/gfai/mobile/data/svg/document/*.class
/gfaisoft/java/mobile-data/mobile-data-svg/target/classes/de/gfai/mobile/data/svg/element/*.class
/gfaisoft/java/mobile-data/mobile-data-svg/target/maven-archiver/*.properties
/gfaisoft/java/mobile-data/mobile-data-svg/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/gfaisoft/java/mobile-data/mobile-data-svg/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/*.lst
/gfaisoft/java/mobile-data/mobile-data-svg/target/*.jar
/gfaisoft/java/mobile-data/mobile-data-web/target/classes/*.netbeans_automatic_build
/gfaisoft/java/mobile-data/mobile-data-web/target/endorsed/*.jar
/gfaisoft/java/mobile-data/mobile-data-web/target/maven-archiver/*.properties
/gfaisoft/java/mobile-data/mobile-data-web/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
/gfaisoft/java/mobile-data/mobile-data-web/target/*.war
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/META-INF/*.xml
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/WEB-INF/*.xml
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/WEB-INF/lib/*.jar
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/css/*.css
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/img/*.ico
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/img/*.png
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/img/*.svg
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/js/*.js
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/jsp/*.jsp
/gfaisoft/java/mobile-data/mobile-data-web/target/test-classes/*.netbeans_automatic_build
/gfaisoft/java/mobile-data/mobile-data-web/target/classes/de/gfai/mobile/data/servlet/*.class
/gfaisoft/java/mobile-data/mobile-data-web/target/classes/de/gfai/mobile/data/servlet/env/*.class
/gfaisoft/java/mobile-data/mobile-data-web/target/classes/de/gfai/mobile/data/servlet/response/*.class
/gfaisoft/java/mobile-data/mobile-data-web/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/*.lst
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/WEB-INF/classes/de/gfai/mobile/data/servlet/*.class
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/WEB-INF/classes/de/gfai/mobile/data/servlet/env/*.class
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/WEB-INF/classes/de/gfai/mobile/data/servlet/response/*.class
/gfaisoft/java/mobile-data/mobile-data-web/target/classes/de/gfai/mobile/data/servlet/param/*.class
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/*.dpf
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/WEB-INF/classes/de/gfai/mobile/data/servlet/param/*.class
/gfaisoft/java/mobile-data/mobile-data-svg/target/classes/de/gfai/mobile/data/infocable/rack/*.class
/gfaisoft/java/mobile-data/mobile-data-web/target/classes/de/gfai/mobile/data/context/*.class
/gfaisoft/java/mobile-data/mobile-data-web/target/classes/de/gfai/mobile/data/database/*.class
/gfaisoft/java/mobile-data/mobile-data-web/target/classes/de/gfai/mobile/data/session/*.class
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/WEB-INF/classes/de/gfai/mobile/data/context/*.class
/gfaisoft/java/mobile-data/mobile-data-web/target/
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/WEB-INF/classes/
/gfaisoft/java/mobile-data/mobile-data-svg/target/classes/de/gfai/mobile/data/infocable/factory/*.class
/gfaisoft/java/mobile-data/mobile-data-svg/target/classes/de/gfai/mobile/data/infocable/rack/j2d/*.class
/gfaisoft/java/mobile-data/mobile-data-svg/target/classes/
/gfaisoft/java/mobile-data/mobile-data-tooltip/target/
/gfaisoft/java/mobile-data/mobile-data-web/target/mobile-data-web-8.0/WEB-INF/classes/.netbeans_automatic_build
/gfaisoft/java/mobile-data/mobile-data-info/target/
/ifcamdl/db/java/cafm/target/classes/license32.dll
/ifcamdl/db/java/cafm/target/classes/license64.dll
/gfaisoft/java/ingco/libs/org-coljars-frozenlock.zip
/gfaisoft/java/apache-pdf-box/target/
/gfaisoft/java/apache-pdf-box/apache-pdf-box/target/
/ifcamdl/mdlsrc/autekatm/*.new
/gfaisoft/ifcamdl/db/java/javainst/mvn/
**/*.new
/gfaisoft/java/mobile-data/mobile-data-patch/target/
/gfaisoft/java/mobile-data/mobile-data-web - Kopie/target/
/gfaisoft/java/mobile-data/mobile-data-servlet/target/
/gfaisoft/java/mobile-data/mobile-data-qrc - Kopie/target/
/mobile-data-web/target
/mobile-data-info/target
/mobile-data-patch/target
/mobile-data-qrc/target
/mobile-data-svg/target
/mobile-data-tooltip/target
